@use "@forsakringskassan/docs-generator/style/core.css";
@use "@forsakringskassan/docs-generator/style/site.css";
@use "@forsakringskassan/docs-live-example/dist/main.css";

.mermaid p {
    margin-bottom: 0;
}

.color-table__color {
    display: inline-block;
    width: 3rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
}

.docs-block {
    display: block;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #eee;

    .table__column {
        padding: 0.25rem;
        text-align: left;
    }

    th {
        text-wrap: nowrap;
    }

    td {
        vertical-align: top;
    }

    td code {
        text-wrap: nowrap;
    }

    th:first-child,
    td:first-child {
        padding-left: 1rem;
    }

    th:last-child,
    td:last-child {
        padding-right: 1rem;
    }

    thead .table__row {
        background: #000;
        color: #fff;
    }

    tbody .table__row:nth-child(2n) {
        background: #eee;
    }

    code {
        margin: 0;
    }
}

.preview-color {
    display: flex;

    &::after {
        content: " ";
        display: inline-block;
        align-self: center;
        margin-left: 1rem;
        background: var(--current-value);
        border: 1px solid #000;
        border-radius: 3px;
        width: 1em;
        height: 1em;
    }
}

.docs-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.docs-footer__link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
