pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

/* end baseline CSS */
.hljs {
    background: #f3f3f3;
    color: #444;
}

/* Base color: saturation 0; */
.hljs-subst {
    /* default */
}

/* purposely ignored */
.hljs-comment {
    color: #697070;
}

.hljs-tag,
.hljs-punctuation {
    color: rgba(68, 68, 68, 0.6666666667);
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
    color: #444;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #880000;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
    color: #ab5656;
}

/* Language color: hue: 90; */
.hljs-literal {
    color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300;
}

/* Meta color: hue: 200 */
.hljs-meta {
    color: #1f7199;
}

.hljs-meta .hljs-string {
    color: #38a;
}

/* Misc effects */
.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.badge {
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    border-width: var(--f-border-width-small);
    box-sizing: border-box;
    color: var(--f-text-color-default);
    display: inline-block;
    font-size: var(--f-font-size-standard);
    line-height: var(--f-line-height-large);
    font-weight: var(--f-font-weight-normal);
    padding: 0 0.5rem;
}
.badge--default {
    background-color: var(--f-background-badge-default);
    border-color: var(--f-background-badge-default);
}
.badge--default-inverted {
    background-color: var(--f-background-badge-default-inverted);
    border-color: var(--f-border-color-badge-default);
}
.badge--warning {
    background-color: var(--f-background-badge-warning);
    border-color: var(--f-background-badge-warning);
}
.badge--warning-inverted {
    background-color: var(--f-background-badge-warning-inverted);
    border-color: var(--f-border-color-badge-warning);
}
.badge--error {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-error);
    border-color: var(--f-background-badge-error);
}
.badge--error-inverted {
    background-color: var(--f-background-badge-error-inverted);
    border-color: var(--f-border-color-badge-error);
}
.badge--success {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-success);
    border-color: var(--f-background-badge-success);
}
.badge--success-inverted {
    background-color: var(--f-background-badge-success-inverted);
    border-color: var(--f-border-color-badge-success);
}
.badge--info {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-info);
    border-color: var(--f-background-badge-info);
}
.badge--info-inverted {
    background-color: var(--f-background-badge-info-inverted);
    border-color: var(--f-border-color-badge-info);
}

.page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-pageheader-primary);
    padding: 1rem 0 1rem 1rem;
    align-items: center;
    overflow: hidden;
}
.page-header__logo {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
.page-header__logo--small {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.8rem;
    background-image: url("./images/fk-logo-primary-small.svg");
}
.page-header__logo--large {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--f-background-pageheader-primary);
    padding: 0.8rem 6.195rem;
    background-image: url("./images/fk-logo-primary-large.svg");
}
.page-header__logo--responsive {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--f-background-pageheader-primary);
    padding: 0.8rem 6.195rem;
    background-image: url("./images/fk-logo-primary-large.svg");
}
@media (max-width: 639.98px) {
    .page-header__logo--responsive {
        min-width: 0.8rem;
        padding: 0.8rem;
        background-image: url("./images/fk-logo-primary-small.svg");
    }
}
.page-header__logo > a {
    display: inline-flex;
}
.page-header__logo::after {
    content: " ";
    background-color: var(--f-border-color-separator-pageheader-primary);
    height: 1.38rem;
    padding: 0.5px;
    margin: 0 1rem 0.155rem;
}
.page-header__app-name {
    padding-top: 0.22rem;
    margin: 0;
    font-size: var(--f-font-size-h3);
    font-weight: var(--f-font-weight-medium);
    color: var(--f-text-color-default-inverted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 9rem;
}
.page-header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    padding-top: 0.4rem;
    font-size: var(--f-font-size-standard);
}
.page-header__right-slot {
    padding-left: 1rem;
    padding-right: 1rem;
}

.button {
    border-color: transparent;
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    border-width: var(--f-border-width-medium);
    cursor: pointer;
    display: inline-block;
    font-size: var(--f-font-size-standard);
    font-weight: var(--f-font-weight-medium);
    justify-content: center;
    letter-spacing: var(--f-button-letter-spacing);
    line-height: var(--f-button-default-line-height);
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
    min-width: var(--f-button-min-width);
    padding: var(--f-button-default-padding);
    position: relative;
    text-align: center;
    transition: background-color var(--f-animation-duration-medium) ease-out;
}
@media (max-width: 639.98px) {
    .button {
        max-width: var(--f-width-full);
        width: var(--f-width-full);
    }
}
.button {
    background-color: var(--f-background-button-standard);
    border-color: var(--f-border-color-button-standard);
    border-width: var(--f-border-width-medium);
    box-shadow: var(--f-button-shadow);
    color: var(--f-text-color-button-standard);
    padding: var(--f-button-standard-padding);
}
.button > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button:hover {
    background-color: var(--f-background-button-standard-hover);
    border-color: var(--f-border-color-button-standard);
    color: var(--f-text-color-button-standard);
    box-shadow: var(--f-button-shadow-hover);
}
.button:hover > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button:active,
.button:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-standard-hover);
    border-color: var(--f-border-color-button-standard);
    color: var(--f-text-color-button-standard);
}
.button:active > .button__icon,
.button:focus > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button.disabled,
.button.disabled:hover,
.button:disabled,
.button:disabled:hover {
    background-color: var(--f-background-button-disabled);
    border-color: var(--f-border-color-button-disabled);
    color: var(--f-text-color-button-disabled);
}
.button.disabled > .button__icon,
.button.disabled:hover > .button__icon,
.button:disabled > .button__icon,
.button:disabled:hover > .button__icon {
    color: var(--f-text-color-button-disabled);
}
.button.button--discrete {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: var(--f-text-color-button-discrete);
    padding: var(--f-button-discrete-padding);
    width: inherit;
    min-width: 0;
    font-weight: var(--f-font-weight-bold);
    outline-offset: 0.25rem;
    line-height: calc(1.25 * var(--f-font-size-standard));
}
.button.button--discrete > .button__icon {
    color: var(--f-text-color-button-discrete);
}
.button.button--discrete:hover {
    background-color: var(--f-background-button-discrete-hover);
    border-color: transparent;
    color: var(--f-text-color-button-discrete-hover);
    box-shadow: var(--f-button-shadow-hover);
}
.button.button--discrete:hover > .button__icon {
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete:active,
.button.button--discrete:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-discrete-hover);
    border-color: transparent;
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete:active > .button__icon,
.button.button--discrete:focus > .button__icon {
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete.disabled,
.button.button--discrete.disabled:hover,
.button.button--discrete:disabled,
.button.button--discrete:disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-discrete-disabled);
}
.button.button--discrete.disabled > .button__icon,
.button.button--discrete.disabled:hover > .button__icon,
.button.button--discrete:disabled > .button__icon,
.button.button--discrete:disabled:hover > .button__icon {
    color: var(--f-text-color-button-discrete-disabled);
}
@media (max-width: 639.98px) {
    .button.button--discrete {
        width: auto;
    }
}
.button.button--discrete:hover {
    box-shadow: none;
    mix-blend-mode: multiply;
}
.button.button--discrete,
.button.button--discrete:focus,
.button.button--discrete:active,
.button.button--discrete:hover {
    border-radius: var(--f-button-discrete-radius-hover);
}
.button > .button__icon {
    margin-right: 0.25rem;
    transform: translate(0, 15%);
}
.button > .button__icon:not(:first-child) {
    margin-left: 0.25rem;
    margin-right: 0;
}
.button.disabled,
.button.disabled:hover,
.button:disabled,
.button:disabled:hover {
    border-width: var(--f-border-width-medium);
    box-shadow: none;
    cursor: default;
}

.icon,
.icon-stack {
    display: inline-block;
    height: var(--f-icon-size-small);
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    width: var(--f-icon-size-small);
}

.select-field__icon {
    display: inline;
    height: var(--f-icon-size-large);
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    transition: opacity var(--f-animation-duration-medium) ease-in-out;
    width: var(--f-icon-size-large);
}

.icon-stack {
    position: relative;
}
.icon-stack .icon {
    position: absolute;
}
.icon-stack--info .f-icon-circle {
    color: var(--f-icon-color-white);
    fill: var(--f-icon-color-info);
}

.select-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: var(--f-margin-component);
    position: relative;
    width: var(--f-width-full);
}
@media (min-width: 640px) {
    .select-field--inline {
        margin-bottom: 0.75rem;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
    }
    .select-field--inline .label {
        width: auto;
        margin-right: 1rem;
        padding-top: 0.5rem;
    }
}
.select-field__select {
    appearance: none;
    background-color: var(--f-background-input);
    box-shadow: var(--f-input-shadow-inset);
    border-radius: var(--f-border-radius-medium);
    border: var(--f-border-width-medium) solid var(--f-border-color-input);
    color: var(--f-text-color-default);
    cursor: pointer;
    min-height: var(--f-height-large);
    padding: var(--padding-input-fields);
    width: var(--f-width-full);
}
.select-field__select:hover {
    background-color: var(--f-background-input-hover);
}
.select-field__select:focus {
    background-color: var(--f-background-input);
}
.select-field__select:disabled {
    border-color: var(--f-border-color-input-disabled);
    color: var(--f-text-color-input-disabled);
    background-color: var(--f-background-input-disabled);
    opacity: 1;
}
.select-field__select:disabled + .select-field__icon {
    color: var(--f-text-color-button-disabled);
}
.select-field__icon-wrapper {
    position: relative;
}
.select-field__icon {
    color: var(--f-icon-color-primary);
}
.select-field--error .select-field__select {
    border-color: var(--f-border-color-error);
}
