pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

/* end baseline CSS */
.hljs {
    background: #f3f3f3;
    color: #444;
}

/* Base color: saturation 0; */
.hljs-subst {
    /* default */
}

/* purposely ignored */
.hljs-comment {
    color: #697070;
}

.hljs-tag,
.hljs-punctuation {
    color: rgba(68, 68, 68, 0.6666666667);
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
    color: #444;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #880000;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
    color: #ab5656;
}

/* Language color: hue: 90; */
.hljs-literal {
    color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300;
}

/* Meta color: hue: 200 */
.hljs-meta {
    color: #1f7199;
}

.hljs-meta .hljs-string {
    color: #38a;
}

/* Misc effects */
.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.badge {
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    border-width: var(--f-border-width-small);
    box-sizing: border-box;
    color: var(--f-text-color-default);
    display: inline-block;
    font-size: var(--f-font-size-standard);
    line-height: var(--f-line-height-large);
    font-weight: var(--f-font-weight-normal);
    padding: 0 0.5rem;
}
.badge--default {
    background-color: var(--f-background-badge-default);
    border-color: var(--f-background-badge-default);
}
.badge--default-inverted {
    background-color: var(--f-background-badge-default-inverted);
    border-color: var(--f-border-color-badge-default);
}
.badge--warning {
    background-color: var(--f-background-badge-warning);
    border-color: var(--f-background-badge-warning);
}
.badge--warning-inverted {
    background-color: var(--f-background-badge-warning-inverted);
    border-color: var(--f-border-color-badge-warning);
}
.badge--error {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-error);
    border-color: var(--f-background-badge-error);
}
.badge--error-inverted {
    background-color: var(--f-background-badge-error-inverted);
    border-color: var(--f-border-color-badge-error);
}
.badge--success {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-success);
    border-color: var(--f-background-badge-success);
}
.badge--success-inverted {
    background-color: var(--f-background-badge-success-inverted);
    border-color: var(--f-border-color-badge-success);
}
.badge--info {
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-badge-info);
    border-color: var(--f-background-badge-info);
}
.badge--info-inverted {
    background-color: var(--f-background-badge-info-inverted);
    border-color: var(--f-border-color-badge-info);
}

.page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--f-text-color-default-inverted);
    background-color: var(--f-background-pageheader-primary);
    padding: 1rem 0 1rem 1rem;
    align-items: center;
    overflow: hidden;
}
.page-header__logo {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
.page-header__logo--small {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.8rem;
    background-image: url("./images/fk-logo-primary-small.svg");
}
.page-header__logo--large {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--f-background-pageheader-primary);
    padding: 0.8rem 6.195rem;
    background-image: url("./images/fk-logo-primary-large.svg");
}
.page-header__logo--responsive {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--f-background-pageheader-primary);
    padding: 0.8rem 6.195rem;
    background-image: url("./images/fk-logo-primary-large.svg");
}
@media (max-width: 639.98px) {
    .page-header__logo--responsive {
        min-width: 0.8rem;
        padding: 0.8rem;
        background-image: url("./images/fk-logo-primary-small.svg");
    }
}
.page-header__logo > a {
    display: inline-flex;
}
.page-header__logo::after {
    content: " ";
    background-color: var(--f-border-color-separator-pageheader-primary);
    height: 1.38rem;
    padding: 0.5px;
    margin: 0 1rem 0.155rem;
}
.page-header__app-name {
    padding-top: 0.22rem;
    margin: 0;
    font-size: var(--f-font-size-h3);
    font-weight: var(--f-font-weight-medium);
    color: var(--f-text-color-default-inverted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 9rem;
}
.page-header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    padding-top: 0.4rem;
    font-size: var(--f-font-size-standard);
}
.page-header__right-slot {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: var(--f-margin-component);
    position: relative;
    width: var(--f-width-full);
    /* stylelint-disable property-no-vendor-prefix */
}
@media (min-width: 640px) {
    .text-field--inline {
        margin-bottom: 0.75rem;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
    }
    .text-field--inline .label {
        width: auto;
        margin-right: 1rem;
        padding-top: 0.5rem;
    }
}
.text-field input[type="text"]::-ms-clear {
    display: none;
}
.text-field__input-wrapper {
    display: flex;
    gap: 0.5rem;
}
.text-field__input {
    background-color: var(--f-background-input);
    box-shadow: var(--f-input-shadow-inset);
    border-radius: var(--f-border-radius-medium);
    border: var(--f-border-width-medium) solid var(--f-border-color-input);
    min-height: var(--f-height-large);
    padding: 0 0.75rem;
    width: var(--f-width-full);
}
.text-field__icon-wrapper {
    flex: 1 1 auto;
    position: relative;
}
.text-field__icon-wrapper:has(.text-field__append-inner) .text-field__input {
    padding: var(--padding-input-fields);
}
.text-field__append-inner {
    display: inline;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    height: var(--f-icon-size-large);
    width: var(--f-icon-size-large);
    overflow: hidden;
    text-align: center;
}
.text-field__icon {
    height: var(--f-icon-size-large);
    transition: opacity var(--f-animation-duration-medium) ease-in-out;
    width: var(--f-icon-size-large);
}
.text-field__icon--left {
    position: relative;
    top: 3px;
}
.text-field__input:disabled + .text-field__icon {
    color: var(--f-text-color-button-disabled);
}
.text-field__input:disabled {
    border-color: var(--f-border-color-input-disabled);
    color: var(--f-text-color-input-disabled);
    background-color: var(--f-background-input-disabled);
}
.text-field--error .text-field__input {
    border-color: var(--f-border-color-error);
}
.text-field--search + .text-field__append-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0.25rem;
    min-height: var(--f-height-large);
    width: 2.5rem;
}
.text-field .clear-button {
    background: none;
    border: 0;
    cursor: pointer;
}
.text-field .clear-button__icon {
    color: var(--f-text-color-discrete);
    height: var(--f-icon-size-x-small);
    width: var(--f-icon-size-x-small);
}
.text-field input[type="search"]::-webkit-search-decoration,
.text-field input[type="search"]::-webkit-search-cancel-button,
.text-field input[type="search"]::-webkit-search-results-button,
.text-field input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.button-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}
.button-group .button-group__item {
    margin: 0;
    margin-bottom: 1rem;
}
@media (min-width: 640px) {
    .button-group .button-group__item {
        margin-bottom: 1rem;
        margin-right: 1.25rem;
    }
    .button-group .button-group__item:last-child {
        margin-right: 0;
    }
}
.button-group > .button.button--discrete,
.button-group > .button.button--text {
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}
.button-group > .button.button--discrete:last-child,
.button-group > .button.button--text:last-child {
    margin-right: 0;
}
.button-group > .button.button--small {
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
}
.button-group > .button.button--small:last-child {
    margin-right: 0;
}
@media (max-width: 639.98px) {
    .button-group > .button.button--small.button--full-width {
        margin-right: 0;
    }
}
.button-group > .button.button--medium {
    margin-bottom: 0.75rem;
    margin-right: 1rem;
}
.button-group > .button.button--medium:last-child {
    margin-right: 0;
}
@media (max-width: 639.98px) {
    .button-group > .button.button--medium.button--full-width {
        margin-right: 0;
    }
}
@media (min-width: 640px) {
    .button-group > .button.button--large {
        margin-bottom: 1rem;
        margin-right: 1.25rem;
    }
    .button-group > .button.button--large:last-child {
        margin-right: 0;
    }
}
.button-group--end {
    justify-content: flex-end;
}

.button-list {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    padding-left: 0;
}
.button-list > li button {
    margin: 0;
    margin-bottom: 1rem;
}
.button-list > li button.button.button--small,
.button-list > li button.button.button--medium {
    margin-bottom: 0.75rem;
}
.button-list > li button.button.button--large {
    margin-bottom: 1rem;
}

.button {
    border-color: transparent;
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    border-width: var(--f-border-width-medium);
    cursor: pointer;
    display: inline-block;
    font-size: var(--f-font-size-standard);
    font-weight: var(--f-font-weight-medium);
    justify-content: center;
    letter-spacing: var(--f-button-letter-spacing);
    line-height: var(--f-button-default-line-height);
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
    min-width: var(--f-button-min-width);
    padding: var(--f-button-default-padding);
    position: relative;
    text-align: center;
    transition: background-color var(--f-animation-duration-medium) ease-out;
}
@media (max-width: 639.98px) {
    .button {
        max-width: var(--f-width-full);
        width: var(--f-width-full);
    }
}

.button--text {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- technical debt */
}
.button--text--black {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- technical debt */
    color: var(--f-text-color-default);
}
.button--text--black > .button__icon {
    color: var(--f-icon-color-black);
}

.button {
    background-color: var(--f-background-button-standard);
    border-color: var(--f-border-color-button-standard);
    border-width: var(--f-border-width-medium);
    box-shadow: var(--f-button-shadow);
    color: var(--f-text-color-button-standard);
    padding: var(--f-button-standard-padding);
}
.button > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button:hover {
    background-color: var(--f-background-button-standard-hover);
    border-color: var(--f-border-color-button-standard);
    color: var(--f-text-color-button-standard);
    box-shadow: var(--f-button-shadow-hover);
}
.button:hover > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button:active,
.button:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-standard-hover);
    border-color: var(--f-border-color-button-standard);
    color: var(--f-text-color-button-standard);
}
.button:active > .button__icon,
.button:focus > .button__icon {
    color: var(--f-text-color-button-standard);
}
.button.disabled,
.button.disabled:hover,
.button:disabled,
.button:disabled:hover,
.button.button--disabled,
.button.button--disabled:hover {
    background-color: var(--f-background-button-disabled);
    border-color: var(--f-border-color-button-disabled);
    color: var(--f-text-color-button-disabled);
}
.button.disabled > .button__icon,
.button.disabled:hover > .button__icon,
.button:disabled > .button__icon,
.button:disabled:hover > .button__icon,
.button.button--disabled > .button__icon,
.button.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-disabled);
}
.button.button--primary {
    background-color: var(--f-background-button-primary);
    border-color: transparent;
    border-width: var(--f-border-width-medium);
    box-shadow: var(--f-button-shadow);
    color: var(--f-text-color-button-primary);
    padding: var(--f-button-primary-padding);
}
.button.button--primary > .button__icon {
    color: var(--f-text-color-button-primary);
}
.button.button--primary:hover {
    background-color: var(--f-background-button-primary-hover);
    border-color: transparent;
    color: var(--f-text-color-button-primary);
    box-shadow: var(--f-button-shadow-hover);
}
.button.button--primary:hover > .button__icon {
    color: var(--f-text-color-button-primary);
}
.button.button--primary:active,
.button.button--primary:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-primary-hover);
    border-color: transparent;
    color: var(--f-text-color-button-primary);
}
.button.button--primary:active > .button__icon,
.button.button--primary:focus > .button__icon {
    color: var(--f-text-color-button-primary);
}
.button.button--primary.disabled,
.button.button--primary.disabled:hover,
.button.button--primary:disabled,
.button.button--primary:disabled:hover,
.button.button--primary.button--disabled,
.button.button--primary.button--disabled:hover {
    background-color: var(--f-background-button-disabled);
    border-color: var(--f-border-color-button-disabled);
    color: var(--f-text-color-button-disabled);
}
.button.button--primary.disabled > .button__icon,
.button.button--primary.disabled:hover > .button__icon,
.button.button--primary:disabled > .button__icon,
.button.button--primary:disabled:hover > .button__icon,
.button.button--primary.button--disabled > .button__icon,
.button.button--primary.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-disabled);
}
.button.button--secondary {
    background-color: var(--f-background-button-secondary);
    border-color: var(--f-border-color-button-secondary);
    border-width: var(--f-border-width-medium);
    box-shadow: var(--f-button-shadow);
    color: var(--f-text-color-button-secondary);
    padding: var(--f-button-secondary-padding);
}
.button.button--secondary > .button__icon {
    color: var(--f-text-color-button-secondary);
}
.button.button--secondary:hover {
    background-color: var(--f-background-button-secondary-hover);
    border-color: var(--f-border-color-button-secondary);
    color: var(--f-text-color-button-secondary);
    box-shadow: var(--f-button-shadow-hover);
}
.button.button--secondary:hover > .button__icon {
    color: var(--f-text-color-button-secondary);
}
.button.button--secondary:active,
.button.button--secondary:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-secondary-hover);
    border-color: var(--f-border-color-button-secondary);
    color: var(--f-text-color-button-secondary);
}
.button.button--secondary:active > .button__icon,
.button.button--secondary:focus > .button__icon {
    color: var(--f-text-color-button-secondary);
}
.button.button--secondary.disabled,
.button.button--secondary.disabled:hover,
.button.button--secondary:disabled,
.button.button--secondary:disabled:hover,
.button.button--secondary.button--disabled,
.button.button--secondary.button--disabled:hover {
    background-color: var(--f-background-button-disabled);
    border-color: var(--f-border-color-button-disabled);
    color: var(--f-text-color-button-disabled);
}
.button.button--secondary.disabled > .button__icon,
.button.button--secondary.disabled:hover > .button__icon,
.button.button--secondary:disabled > .button__icon,
.button.button--secondary:disabled:hover > .button__icon,
.button.button--secondary.button--disabled > .button__icon,
.button.button--secondary.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-disabled);
}
.button.button--discrete,
.button.button--text {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: var(--f-text-color-button-discrete);
    padding: var(--f-button-discrete-padding);
    width: inherit;
    min-width: 0;
    font-weight: var(--f-font-weight-bold);
    outline-offset: 0.25rem;
    line-height: calc(1.25 * var(--f-font-size-standard));
}
.button.button--discrete > .button__icon,
.button.button--text > .button__icon {
    color: var(--f-text-color-button-discrete);
}
.button.button--discrete:hover,
.button.button--text:hover {
    background-color: var(--f-background-button-discrete-hover);
    border-color: transparent;
    color: var(--f-text-color-button-discrete-hover);
    box-shadow: var(--f-button-shadow-hover);
}
.button.button--discrete:hover > .button__icon,
.button.button--text:hover > .button__icon {
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete:active,
.button.button--text:active,
.button.button--discrete:focus,
.button.button--text:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-discrete-hover);
    border-color: transparent;
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete:active > .button__icon,
.button.button--text:active > .button__icon,
.button.button--discrete:focus > .button__icon,
.button.button--text:focus > .button__icon {
    color: var(--f-text-color-button-discrete-hover);
}
.button.button--discrete.disabled,
.button.disabled.button--text,
.button.button--discrete.disabled:hover,
.button.button--discrete:disabled,
.button.button--text:disabled,
.button.button--discrete:disabled:hover,
.button.button--discrete.button--disabled,
.button.button--disabled.button--text,
.button.button--discrete.button--disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-discrete-disabled);
}
.button.button--discrete.disabled > .button__icon,
.button.disabled.button--text > .button__icon,
.button.button--discrete.disabled:hover > .button__icon,
.button.button--discrete:disabled > .button__icon,
.button.button--text:disabled > .button__icon,
.button.button--discrete:disabled:hover > .button__icon,
.button.button--discrete.button--disabled > .button__icon,
.button.button--disabled.button--text > .button__icon,
.button.button--discrete.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-discrete-disabled);
}
@media (max-width: 639.98px) {
    .button.button--discrete,
    .button.button--text {
        width: auto;
    }
}
.button.button--discrete--black,
.button.button--text--black {
    padding: var(--f-button-discrete-black-padding);
    color: var(--f-text-color-default);
}
.button.button--discrete--black > .button__icon,
.button.button--text--black > .button__icon {
    color: var(--f-icon-color-black);
}
.button.button--discrete:hover,
.button.button--text:hover {
    box-shadow: none;
    mix-blend-mode: multiply;
}
.button.button--discrete,
.button.button--text,
.button.button--discrete:focus,
.button.button--discrete:active,
.button.button--discrete:hover {
    border-radius: var(--f-button-discrete-radius-hover);
}
.button.button--discrete-inverted {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: var(--f-text-color-button-discrete-inverted);
    padding: var(--f-button-discrete-padding);
    width: inherit;
    min-width: 0;
    font-weight: var(--f-font-weight-bold);
    outline-offset: 0.25rem;
    padding: var(--f-button-discrete-padding);
    line-height: calc(1.25 * var(--f-font-size-standard));
}
.button.button--discrete-inverted > .button__icon {
    color: var(--f-text-color-button-discrete-inverted);
}
.button.button--discrete-inverted:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-discrete-inverted-hover);
    box-shadow: var(--f-button-shadow-hover);
}
.button.button--discrete-inverted:hover > .button__icon {
    color: var(--f-text-color-button-discrete-inverted-hover);
}
.button.button--discrete-inverted:active,
.button.button--discrete-inverted:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-discrete-inverted-hover);
}
.button.button--discrete-inverted:active > .button__icon,
.button.button--discrete-inverted:focus > .button__icon {
    color: var(--f-text-color-button-discrete-inverted-hover);
}
.button.button--discrete-inverted.disabled,
.button.button--discrete-inverted.disabled:hover,
.button.button--discrete-inverted:disabled,
.button.button--discrete-inverted:disabled:hover,
.button.button--discrete-inverted.button--disabled,
.button.button--discrete-inverted.button--disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-discrete-inverted-disabled);
}
.button.button--discrete-inverted.disabled > .button__icon,
.button.button--discrete-inverted.disabled:hover > .button__icon,
.button.button--discrete-inverted:disabled > .button__icon,
.button.button--discrete-inverted:disabled:hover > .button__icon,
.button.button--discrete-inverted.button--disabled > .button__icon,
.button.button--discrete-inverted.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-discrete-inverted-disabled);
}
@media (max-width: 639.98px) {
    .button.button--discrete-inverted {
        width: auto;
    }
}
.button.button--discrete-inverted,
.button.button--discrete-inverted:focus,
.button.button--discrete-inverted:active,
.button.button--discrete-inverted:hover {
    border-radius: var(--f-button-discrete-radius-hover);
}
.button.button--tertiary {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: var(--f-text-color-button-tertiary);
    padding: var(--f-button-tertiary-padding);
    width: inherit;
    min-width: 0;
    font-weight: var(--f-font-weight-medium);
    outline-offset: 0.25rem;
}
.button.button--tertiary > .button__icon {
    color: var(--f-text-color-button-tertiary);
}
.button.button--tertiary:hover {
    background-color: var(--f-background-button-tertiary-hover);
    border-color: transparent;
    color: var(--f-text-color-button-tertiary-hover);
    box-shadow: none;
}
.button.button--tertiary:hover > .button__icon {
    color: var(--f-text-color-button-tertiary-hover);
}
.button.button--tertiary:active,
.button.button--tertiary:focus {
    border-radius: 0;
    box-shadow: var(--f-focus-box-shadow);
    background-color: var(--f-background-button-tertiary-hover);
    border-color: transparent;
    color: var(--f-text-color-button-tertiary-hover);
}
.button.button--tertiary:active > .button__icon,
.button.button--tertiary:focus > .button__icon {
    color: var(--f-text-color-button-tertiary-hover);
}
.button.button--tertiary.disabled,
.button.button--tertiary.disabled:hover,
.button.button--tertiary:disabled,
.button.button--tertiary:disabled:hover,
.button.button--tertiary.button--disabled,
.button.button--tertiary.button--disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--f-text-color-button-tertiary-disabled);
}
.button.button--tertiary.disabled > .button__icon,
.button.button--tertiary.disabled:hover > .button__icon,
.button.button--tertiary:disabled > .button__icon,
.button.button--tertiary:disabled:hover > .button__icon,
.button.button--tertiary.button--disabled > .button__icon,
.button.button--tertiary.button--disabled:hover > .button__icon {
    color: var(--f-text-color-button-tertiary-disabled);
}
@media (max-width: 639.98px) {
    .button.button--tertiary {
        width: auto;
    }
}
.button.button--tertiary--black {
    color: var(--f-text-color-default);
}
.button.button--tertiary--black > .button__icon {
    color: var(--f-icon-color-black);
}
.button.button--tertiary--black:hover,
.button.button--tertiary--black:active,
.button.button--tertiary--black:focus {
    color: var(--f-text-color-default);
}
.button.button--tertiary--black:hover > .button__icon,
.button.button--tertiary--black:active > .button__icon,
.button.button--tertiary--black:focus > .button__icon {
    color: var(--f-icon-color-black);
}
.button.button--tertiary--inverted {
    color: var(--f-text-color-button-tertiary-inverted);
}
.button.button--tertiary--inverted > .button__icon {
    color: var(--f-text-color-button-tertiary-inverted);
}
.button.button--tertiary--inverted:hover,
.button.button--tertiary--inverted:active,
.button.button--tertiary--inverted:focus {
    color: var(--f-text-color-button-tertiary-inverted-hover);
    background-color: transparent;
}
.button.button--tertiary--inverted:hover > .button__icon,
.button.button--tertiary--inverted:active > .button__icon,
.button.button--tertiary--inverted:focus > .button__icon {
    color: var(--f-text-color-button-tertiary-inverted-hover);
}
.button.button--tertiary--inverted:disabled {
    color: var(--f-text-color-button-tertiary-disabled);
    border-width: 0;
    background-color: transparent;
}
.button.button--tertiary--inverted:disabled > .button__icon {
    color: var(--f-text-color-button-tertiary-disabled);
}
.button.button--tertiary--underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
.button.button--tertiary--underline:disabled {
    text-decoration: none;
}
.button.button--tertiary.button--small {
    min-width: 24px;
    padding: 0.375rem 0.25rem;
    text-underline-offset: 3.5px;
}
.button.button--tertiary.button--small.button--align-text {
    margin-left: -0.25rem;
}
.button.button--tertiary.button--medium {
    min-width: 8rem;
    padding: var(--f-button-tertiary-padding);
}
.button.button--tertiary.button--medium.button--align-text {
    margin-left: -0.5rem;
}
.button.button--tertiary.button--large {
    min-width: var(--f-button-min-width);
    padding: 1.125rem 0.75rem;
}
.button.button--tertiary.button--large.button--align-text {
    margin-left: -0.75rem;
}
.button.button--tertiary.button--align-text {
    margin-left: -0.5rem;
    min-width: 0;
}
@media (max-width: 639.98px) {
    .button.button--tertiary.button--full-width {
        display: flex;
        min-width: var(--f-width-full);
    }
}
.button.button--full-width {
    display: flex;
    min-width: var(--f-width-full);
}
.button.button--margin-bottom-0 {
    margin-bottom: 0;
}
.button.button--small {
    font-size: 14px;
    line-height: 1.25rem;
    min-width: 4rem;
    padding: 0.25rem 0.75rem;
}
@media (max-width: 639.98px) {
    .button.button--small:not(.button--full-width) {
        width: auto;
    }
}
.button.button--small > .button__icon {
    height: 14px;
    width: 14px;
}
.button.button--medium {
    line-height: 1.5rem;
    min-width: 8rem;
    padding: 0.625rem 1.25rem;
}
@media (max-width: 639.98px) {
    .button.button--medium:not(.button--full-width) {
        width: auto;
    }
}
.button.button--large {
    line-height: 1.5rem;
    min-width: 9.5rem;
    padding: 1rem 1.5rem;
}
@media (max-width: 639.98px) {
    .button.button--large {
        max-width: var(--f-width-full);
        width: var(--f-width-full);
    }
}
.button > .button__icon {
    margin-right: 0.25rem;
    transform: translate(0, 15%);
}
.button > .button__icon:not(:first-child) {
    margin-left: 0.25rem;
    margin-right: 0;
}
.button > .button__icon--end {
    position: absolute;
    right: 1.25rem;
}
.button.disabled,
.button.disabled:hover,
.button:disabled,
.button:disabled:hover,
.button.button--disabled {
    border-width: var(--f-border-width-medium);
    box-shadow: none;
    cursor: default;
}

.list__item {
    display: flex;
    border: var(--f-border-width-medium) solid var(--f-border-color-grid);
    background: var(--f-background-grid-default);
}

.list--hover .list__item:focus-within,
.list--hover .list__item:hover,
.list__item--hover {
    background: var(--f-background-grid-hover);
}

.list--hover .list__item:focus-within.list__item--selected,
.list--hover .list__item:hover.list__item--selected,
.list__item--selected {
    background: var(--f-background-grid-selected);
}

.list--hover .list__item:focus-within.list__item--active,
.list--hover .list__item:hover.list__item--active,
.list__item--active {
    background: var(--f-background-grid-active);
}

.list {
    margin: var(--f-margin-component);
    padding-left: 0;
}
.list__item:not(:last-child) {
    border-bottom: none;
}
.list__item__itempane {
    width: 100%;
    padding: var(--f-list-item-itempane-padding);
    color: inherit;
    --f-margin-component: 0 0 0.5rem 0;
}
.list__item__itempane .button {
    margin-bottom: 0;
}
.list__item__itempane ul {
    list-style-type: disc;
}
.list__item__itempane ul ul {
    list-style-type: circle;
}
.list__item__selectpane {
    padding: calc(var(--f-list-item-itempane-padding) - 0.2rem);
    padding-right: 0;
}
.list__item__selectpane__input {
    margin-top: 0.1rem;
}
.list__item__selectpane__input .checkbox__label,
.list__item__selectpane__input .radio-button__label {
    min-width: 1.75rem;
    height: 1.75rem;
    padding: 0;
}
.list__item__selectpane__input .checkbox__label::after,
.list__item__selectpane__input .checkbox__label::before,
.list__item__selectpane__input .radio-button__label::after,
.list__item__selectpane__input .radio-button__label::before {
    top: 0.2rem;
    left: 0.2rem;
}
.list--hover .list__item:focus-within,
.list--hover .list__item:hover {
    cursor: pointer;
}
.icon,
.icon-stack,
.icon--stack {
    display: inline-block;
    height: var(--f-icon-size-small);
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    width: var(--f-icon-size-small);
}

.select-field__icon {
    display: inline;
    height: var(--f-icon-size-large);
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    transition: opacity var(--f-animation-duration-medium) ease-in-out;
    width: var(--f-icon-size-large);
}

.icon-stack,
.icon--stack {
    position: relative;
}
.icon-stack .icon,
.icon--stack .icon {
    position: absolute;
}

.icon--flip-horizontal {
    transform: scaleX(-1);
}
.icon--flip-vertical {
    transform: scaleY(-1);
}
.icon--rotate-90 {
    transform: rotate(90deg);
}
.icon--rotate-180 {
    transform: rotate(180deg);
}
.icon--rotate-270 {
    transform: rotate(270deg);
}

.icon-stack--new-window .icon.f-icon-new-window,
.icon--new-window .icon.f-icon-new-window {
    width: 55%;
    height: 55%;
    top: 0;
    right: 0;
}
.icon-stack--new-window .icon:not(.f-icon-new-window),
.icon--new-window .icon:not(.f-icon-new-window) {
    width: 83%;
    height: 83%;
    bottom: 0;
    left: 5%;
}

.icon-stack--tooltip .f-icon-circle,
.icon--stack--tooltip .f-icon-circle {
    color: var(--f-icon-color-info);
    fill: var(--f-icon-color-info);
}
.icon-stack--tooltip .f-icon-i,
.icon--stack--tooltip .f-icon-i {
    color: var(--f-icon-color-white);
}
.icon-stack--info .f-icon-circle,
.icon--stack--info .f-icon-circle {
    color: var(--f-icon-color-white);
    fill: var(--f-icon-color-info);
}
.icon-stack--warning .f-icon-circle,
.icon--stack--warning .f-icon-circle {
    color: var(--f-icon-color-white);
    fill: var(--f-icon-color-warning);
}
.icon-stack--error .f-icon-triangle,
.icon--stack--error .f-icon-triangle {
    color: var(--f-icon-color-white);
    fill: var(--f-icon-color-error);
}
.icon-stack--success .f-icon-circle,
.icon--stack--success .f-icon-circle {
    color: var(--f-icon-color-white);
    fill: var(--f-icon-color-success);
}
.icon-stack--success .f-icon-success,
.icon--stack--success .f-icon-success {
    transform: scale(0.6);
}
.icon-stack--large,
.icon--stack--large {
    width: 2.5rem;
    height: 2.5rem;
}
.icon-stack--large svg,
.icon--stack--large svg {
    width: 100%;
    height: 100%;
}
.icon-stack--circle,
.icon-stack--circle-bottom,
.icon--stack--circle,
.icon--stack--circle-bottom {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
}
.icon-stack--circle .f-icon-circle,
.icon-stack--circle-bottom .f-icon-circle,
.icon--stack--circle .f-icon-circle,
.icon--stack--circle-bottom .f-icon-circle {
    color: var(--f-icon-color-success-background);
    fill: var(--f-icon-color-success-background);
    width: 100%;
    height: 100%;
}
.icon-stack--circle .icon:not(.f-icon-circle),
.icon-stack--circle-bottom .icon:not(.f-icon-circle),
.icon--stack--circle .icon:not(.f-icon-circle),
.icon--stack--circle-bottom .icon:not(.f-icon-circle) {
    color: var(--f-icon-color-success);
    position: absolute;
}
.icon-stack--circle .icon:not(.f-icon-circle),
.icon--stack--circle .icon:not(.f-icon-circle) {
    width: 70%;
    height: 70%;
    inset: 0;
    margin: auto;
}
.icon-stack--circle-bottom .icon:not(.f-icon-circle),
.icon--stack--circle-bottom .icon:not(.f-icon-circle) {
    width: 80%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0%;
}

.select-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: var(--f-margin-component);
    position: relative;
    width: var(--f-width-full);
}
@media (min-width: 640px) {
    .select-field--inline {
        margin-bottom: 0.75rem;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
    }
    .select-field--inline .label {
        width: auto;
        margin-right: 1rem;
        padding-top: 0.5rem;
    }
}
.select-field__select {
    appearance: none;
    background-color: var(--f-background-input);
    box-shadow: var(--f-input-shadow-inset);
    border-radius: var(--f-border-radius-medium);
    border: var(--f-border-width-medium) solid var(--f-border-color-input);
    color: var(--f-text-color-default);
    cursor: pointer;
    min-height: var(--f-height-large);
    padding: var(--padding-input-fields);
    width: var(--f-width-full);
}
.select-field__select:hover {
    background-color: var(--f-background-input-hover);
}
.select-field__select:focus {
    background-color: var(--f-background-input);
}
.select-field__select:disabled {
    border-color: var(--f-border-color-input-disabled);
    color: var(--f-text-color-input-disabled);
    background-color: var(--f-background-input-disabled);
    opacity: 1;
}
.select-field__select:disabled + .select-field__icon {
    color: var(--f-text-color-button-disabled);
}
.select-field__icon-wrapper {
    position: relative;
}
.select-field__icon {
    color: var(--f-icon-color-primary);
}
.select-field--error .select-field__select {
    border-color: var(--f-border-color-error);
}
