<div class="cookie-warning">
    <!-- [html-validate-disable-next heading-level, no-unused-disable -- allowed sectioning root] -->
    <h1>{{ $t('cookie-warning.title') }}</h1>
    <p>{{ $t('cookie-warning.message') }}</p>
    <p>{{ $t('cookie-warning.accept') }}</p>

    <div class="cookie-warning__button-group">
        <button id="consent-all-button" class="cookie-warning__button cookie-warning__button--primary" type="button">
            {{ $t('cookie-warning.consent-all') }}
        </button>
        <button
            id="consent-functional-button"
            class="cookie-warning__button cookie-warning__button--secondary"
            type="button"
        >
            {{ $t('cookie-warning.consent-functional') }}
        </button>
    </div>
</div>
