<div class="cookie-warning">
    <!-- [html-validate-disable-next heading-level, no-unused-disable -- allowed sectioning root] -->
    <h1>Kakor på webbplatsen</h1>
    <p>
        Vi använder kakor (cookies) för att webbplatsen ska fungera så bra som möjligt för dig.<br />
        Vi använder också kakor för webbanalys för att göra webbplatsen bättre.
    </p>
    <p>Godkänner du att vi också använder kakor för webbanalys?</p>

    <div class="button-group">
        <button id="consent-all-button" class="button button-group__item button--primary" type="button">
            Ja, jag godkänner alla kakor
        </button>

        <button id="consent-functional-button" class="button button-group__item button--secondary" type="button">
            Nej, jag godkänner bara nödvändiga kakor
        </button>
    </div>
</div>
