<div class="docs-page-header__root">
    <div class="docs-page-header">
        <div class="docs-page-header__left">
            <!-- prettier-ignore -->
            {% container "header:left" %}
        </div>
        <div class="docs-page-header__right">
            {%- include "partials/mobile-nav.html" %} {%- include "partials/topnav.html" %}
            <div class="docs-page-header__right-slot">
                <div class="toolbar">{% container "toolbar" %}</div>
            </div>
        </div>
    </div>
</div>
