<div class="page-header__root">
    <div class="page-header">
        <a class="page-header__logo" href="{{ './index.html' | relative(doc) }}">
            <span aria-label="{{ site.name }}" role="img" class="page-header__logo--small"> </span>
        </a>
        <a class="page-header__app-name" href="{{ './index.html' | relative(doc) }}"> {{ site.name }} </a>
        <div class="page-header__right">
            {%- include "partials/topnav.html" %}
            <div class="page-header__right-slot">
                <div class="toolbar">{% container "toolbar" %}</div>
            </div>
        </div>
    </div>
</div>
