<div class="docs-mobile-nav">
    <input id="mobile__toggle" type="checkbox" class="docs-mobile-nav__toggle" aria-label="Open/close navigation" />
    <label for="mobile__toggle" class="docs-mobile-nav-label">
        <svg class="docs-icon"><use href="#docs-icon-menu"></use></svg>
        <span>{{$t("mobile-nav.menu")}}</span>
    </label>

    <nav id="nav-container" class="docs-mobile-nav-overlay" aria-label="Mobile primär">
        <div class="docs-mobile-nav__header">
            <label for="mobile__toggle" class="docs-mobile-nav-close">{{$t("mobile-nav.close")}} ✕</label>
        </div>
        <ul class="docs-mobile-nav__list">
            <!-- prettier-ignore -->
            {%- for nav in topnav.children -%}
            {% set navPath = nav.path | replace("html", "") %}
            {% set navPath = navPath | replace(".", "") %}
            {% set activePage = navPath in doc.fileInfo.fullPath %}
            {% if nav.visible %}
            <li>
                <a href="{{ nav.path | relative(doc) }}">
                    {{nav.title}}

                    <svg class="docs-icon" focusable="false" aria-hidden="true">
                        <use href="#docs-icon-arrow-down"></use>
                    </svg>
                </a>
            </li>
            {% endif %} {%- endfor -%}
        </ul>
    </nav>
</div>
