<!-- prettier-ignore -->
{% import "macro/mobile-menu.html" as menu with context %}

<div class="docs-mobile-nav">
    <input
        id="mobile__toggle"
        type="checkbox"
        class="docs-mobile-nav__toggle"
        aria-label="{{$t('mobile-nav.aria-label')}}"
    />
    <label for="mobile__toggle" class="docs-mobile-nav-label">
        <svg class="docs-icon"><use href="#docs-icon-menu"></use></svg>
        <span>{{$t("mobile-nav.menu")}}</span>
    </label>
    <nav id="nav-container" class="docs-mobile-navigation" aria-label="Mobile primär">
        <div class="docs-mobile-nav__header">
            <label for="mobile__toggle" class="docs-mobile-nav-close">
                <span class="docs-mobile-nav-close__text">{{$t("mobile-nav.close")}}</span>
                <svg class="docs-icon" focusable="false" aria-hidden="true">
                    <use xlink:href="#docs-icon-close"></use>
                </svg>
            </label>
        </div>
        <!-- prettier-ignore -->
        {% block mobilenav %}
        <div id="mobile-sidenav">
            {%- if topnav -%} {{ menu.mobile_sidenav(doc, topnav, "Sekundär") }} {%- endif -%}
        </div>
        {% endblock %}
    </nav>
</div>
