<dialog id="search-dialog">
    <!-- [html-validate-disable-next wcag/h32 -- handled via script] -->
    <form id="search-form">
        <div class="text-field">
            <label for="search-field" class="label">{{ $t('search.title') }}</label>
            <div class="text-field__input-wrapper">
                <div class="text-field__icon-wrapper">
                    <input
                        autofocus
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        id="search-field"
                        type="text"
                        class="text-field__input"
                        maxlength="50"
                        placeholder="{{ $t('search.placeholder') }}"
                    />
                </div>
            </div>
        </div>
        <div id="search-results"></div>
        <p>{{ $t('search.instructions') }}</p>
    </form>
</dialog>
