<dialog class="docs-modal" id="search-dialog">
    <div class="docs-modal__header">
        <h1 class="docs-modal__title" id="search-dialog-title">{{ $t('search.title') }}</h1>
        <button type="button" class="docs-modal__close">
            <span>{{ $t('modal.close') }}</span>
            <svg class="icon" focusable="false" aria-hidden="true">
                <use xlink:href="#docs-icon-close"></use>
            </svg>
        </button>
    </div>

    <!-- [html-validate-disable-next wcag/h32 -- handled via script] -->
    <form class="docs-modal__body" id="search-form">
        <input
            autofocus
            autocomplete="off"
            autocapitalize="off"
            autocorrect="off"
            id="search-field"
            type="search"
            class="docs-search-dialog__input"
            maxlength="50"
            placeholder="{{ $t('search.placeholder') }}"
            aria-labelledby="search-dialog-title"
        />
        <ul class="docs-search-result__list" id="search-results"></ul>
        <p>{{ $t('search.instructions') }}</p>
    </form>
</dialog>

<template id="search-result-item">
    <li class="docs-search-result__item">
        <a class="docs-search-result__link"></a>
    </li>
</template>
