<div class="toolbar__item">
    <div class="select-field" hidden>
        <label for="fkds-theme-select" class="label sr-only"> Tema </label>
        <div class="select-field__icon-wrapper">
            <select id="fkds-theme-select" class="select-field__select">
                <option value="exp">Försäkringskassan</option>
                <option value="int">FK Hapo</option>
            </select>
            <svg focusable="false" class="icon select-field__icon">
                <use xlink:href="#docs-icon-arrow-down"></use>
            </svg>
        </div>
    </div>

    <script>
        function themeSelector() {
            const sessionKey = "fkds-theme";

            function getSelectedTheme(key) {
                return window.localStorage.getItem(key);
            }

            function saveSelectedTheme(key, value) {
                window.localStorage.setItem(key, value);
            }

            function enableTheme(theme) {
                const style = Array.from(document.querySelectorAll("[data-theme]"));
                for (const el of style) {
                    el.disabled = el.dataset.theme !== theme;
                }
            }

            const el = document.querySelector("#fkds-theme-select");
            const wrapper = el.closest(".select-field");
            el.addEventListener("change", () => {
                const theme = el.value;
                saveSelectedTheme(sessionKey, theme);
                enableTheme(theme);
            });

            const selected = getSelectedTheme(sessionKey) || "exp";
            enableTheme(selected);
            el.value = selected;

            wrapper.hidden = false;
        }

        /* technical debt, this entire script should be moved to src/runtime and
         * import this function instead */
        function onContentReady(callback) {
            const { readyState } = document;
            if (readyState === "complete" || readyState === "interactive") {
                setTimeout(callback, 0);
            } else {
                document.addEventListener("DOMContentLoaded", callback);
            }
        }

        onContentReady(themeSelector);
    </script>
</div>
