<div class="toolbar__item">
    <div class="select-field" style="visibility: hidden">
        <label for="fkds-theme-select" class="label sr-only"> Tema </label>
        <div class="select-field__icon-wrapper">
            <select id="fkds-theme-select" class="select-field__select">
                <option value="exp">Försäkringskassan</option>
                <option value="int">FK Hapo</option>
            </select>
            <svg focusable="false" class="icon select-field__icon">
                <use xlink:href="#docs-icon-arrow-down"></use>
            </svg>
        </div>
    </div>

    <script>
        function themeSelector() {
            function getSelectedTheme(key) {
                return window.localStorage.getItem(key) ?? "{{ defaultTheme }}";
            }

            function saveSelectedTheme(key, value) {
                window.localStorage.setItem(key, value);
            }

            function enableTheme(theme) {
                const style = Array.from(document.querySelectorAll("[data-theme]"));
                for (const el of style) {
                    el.disabled = el.dataset.theme !== theme;
                }
            }

            const el = document.querySelector("#fkds-theme-select");
            const wrapper = /** @type {HTMLElement} */ (el.closest(".select-field"));
            el.addEventListener("change", () => {
                const theme = el.value;
                saveSelectedTheme("{{ sessionKey }}", theme);
                enableTheme(theme);
            });

            const selected = getSelectedTheme("{{ sessionKey }}");
            enableTheme(selected);
            el.value = selected;

            wrapper.style.visibility = null;
        }

        themeSelector();
    </script>
</div>
