<nav id="topnav" class="docs-topnav" aria-label="Primär">
    <ul class="docs-topnav__list">
        <!-- prettier-ignore -->
        {%- for nav in topnav.children -%}
        {% set navPath = nav.path | replace("html", "") %}
        {% set navPath = navPath | replace(".", "") %}
        {% set activePage = navPath in doc.fileInfo.fullPath %}
        {% if nav.visible %}
        <li class="docs-topnav__item {% if activePage %}highlight{% endif %}">
            <a class="docs-topnav__anchor" href="{{ nav.path | relative(doc) }}"> {{ nav.title }} </a>
        </li>
        {% endif %} {%- endfor -%}
    </ul>
</nav>
