<div id="version-banner" class="message-box message-box--info" style="display: none">
    <span class="message-box__icon">
        <span class="icon-stack icon-stack--info">
            <svg class="icon__info icon" focusable="false" aria-hidden="true">
                <use xlink:href="#docs-icon-circle"></use>
            </svg>
            <svg class="icon" focusable="false" aria-hidden="true">
                <use xlink:href="#docs-icon-i"></use>
            </svg>
        </span>
    </span>
    <span class="sr-only">Informationsmeddelande</span>
    <p>{{ message }}</p>
</div>
