/**
   Re map Docs variables to FKUI theme variable
   https://designsystem.forsakringskassan.se/latest/styles/colors.html
 */
:root {
    // default
    --docs-font-line-height: var(--f-line-height-large);
    --docs-font-size: var(--f-font-size-default-rem);
    --docs-text-color-default: var(--fkds-color-text-primary);

    // header
    --docs-header-background-color: var(--fkds-color-background-primary);
    --docs-header-border-color: var(--fkds-color-border-weak);

    // menu
    --docs-menu-background-color: var(--fkds-color-background-secondary);

    // code
    --docs-code-background-color: var(--f-background-code);
}
