<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Custom layout - FK Documentation generator</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-0d333e.css"
            crossorigin
            integrity="sha384-VozyifeDMY705Uuet/+evVjoff/93aDW1RRhbhgV6SY1QCpf85lz+Tx0BCx21+UM"
            
        />
        <link
            rel="stylesheet"
            href="../assets/fkui-c2332d.css"
            crossorigin
            integrity="sha384-bz8I20RQAcxN88iSzTGx+UYcGTaN8RB4KZ1SK8v+3zUwWrX36jD+luEX1PtQgahZ"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-9b4d6e.js"
            crossorigin
            integrity="sha384-N4fFZAMddKCgX0hXwjB3m9i2JNAHTIFpORMICVw8ZhJ5Hn4f5tb6oH81EEid04O4"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-e0b15c.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-caabe5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/processors/motd/index-ccae11.js"
            crossorigin
            integrity="sha384-UjzVYhsn0gsmnjX9798oLdjjBUr1FUoJtJUcalmnSFRmr3ppJY8WgK0o8ocUcJid"
            
        ></script>
        <script
            src="../assets/processors/selectable-version/select-version-a5e178.js"
            crossorigin
            integrity="sha384-XZdhMyLmBlIFgA5Qkw0YkwzyTF4d1Uneeybp1vHBd3laKNdwrF5v01LQlZeZOLFS"
            
        ></script>
        <script
            src="../assets/main-4e2707.js"
            crossorigin
            integrity="sha384-YlH/HjPOToyATahyoD0V8mtMqtZ1RcmZvVqUHSyUvEzzRmkox2wXqC33pSuSH8dr"
            
        ></script>

        <main>{% set showAside = true %} {% extends "base.template.html" %}
</main>
    </body>
</html>
