<!doctype html>
<html lang="en" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Footer - FK Documentation generator</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-f8a27d.css"
            crossorigin
            integrity="sha384-e1cmspt/Exd0dRQwNgLmuDa+3pCF2BiosUCm+8LD2K49Yv3xIMeHE6VZmC6Lz6wm"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/fkui-c993c5.css"
            crossorigin
            integrity="sha384-wZ26fEjJpb9/rbXWu81QrJQLPYPrFt0j+OrqgTr1JgvLqj+nzzEYrOjR0kxcxqTI"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-840e05.js"
            crossorigin
            integrity="sha384-qv8TtTZZfAlZ6gJwh90qmqhtP9GcyJk8Pi9nFYXhSQU8Uuv2nL1IF21DNodwTKy1"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../search-data-9baa41.json"
    as="fetch"
    crossorigin
    integrity="sha384-zptUWPuTh8La73Igur4NN2BtKqMUO5z7soE+LRi3qbdoFWeXCm1QKB5uzJcVIbS5"
    id="search-data"
/>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-f8f1bb.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-a7dd47.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors_search_search-da8e04.js"
            crossorigin
            integrity="sha384-52FGbmhXt7S6HsBHFvoE9+n+e7HoPwWn9HhX7epRYhsPZHrpuN8QwyJ5Tz5i9rqh"
            
        ></script>
        <script
            src="../../assets/processors_cookie_cookie-914342.js"
            crossorigin
            integrity="sha384-MBBvCIP3fEWHIqviIqG/9GbTtORyBZ56kM59D1TJ8/THxON/pPugVWrY5f3OUYWi"
            
        ></script>
        <script
            src="../../assets/processors_motd_index-db684d.js"
            crossorigin
            integrity="sha384-zAoLcKQxzwmKl8WDuv2SdmMjcqkFzdJo6p4UsXF27ONwO6eGqJD0F2C0Aipv2cAC"
            
        ></script>
        <script
            src="../../assets/processors_selectable-version_select-version-d80d9e.js"
            crossorigin
            integrity="sha384-a7z+T402dXXS2F/CsU3Nn2bK4QcZnusvIMWBYd/v7bWMfeXf2fSZS4IV9MtTbtPE"
            
        ></script>
        <script
            src="../../assets/runtime-d9568c.js"
            crossorigin
            integrity="sha384-uu0dOdJGal4ezh6uL1+i3wl/0/J+AVDJWV6mu3AVHpgjq5P83p7BIuKR1Te8aHEt"
            
        ></script> <a class="docs-footer__anchor"> lorem ipsum </a>

    </body>
</html>
