<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Custom layout - FK Documentation generator</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-c2a7ec.css"
            crossorigin
            integrity="sha384-hBHnLHu5IwaLb8hkjYuRXzOcKbTVKl+lfT9piYH3uyGjzTHWqQGg+xehvjeaxAf1"
            
        />
        <link
            rel="stylesheet"
            href="../assets/fkui-409dbb.css"
            crossorigin
            integrity="sha384-MaZv1oPslAKieUVrFO6IVACqQGPHoGO5s/ze5nqwUd2ZHzj+etY779tACG5pAWqS"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-9b4d6e.js"
            crossorigin
            integrity="sha384-N4fFZAMddKCgX0hXwjB3m9i2JNAHTIFpORMICVw8ZhJ5Hn4f5tb6oH81EEid04O4"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-a2f4e5.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-131375.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-22d7e1.js"
            crossorigin
            integrity="sha384-6R9FS056Q9pjoRRdLIPK4WAAi6iEPysUm28H+08moZ3zc06xHQMbHTHgGa5x1UMK"
            
        ></script>

        <main>{% set showAside = true %} {% extends "base.template.html" %}
</main>
    </body>
</html>
