.docs-contextmenu {
    background-color: var(--docs-contextmenu-background-color);

    &__list {
        background: inherit;
        border-radius: 2px;
        border: 1px solid var(--docs-contextmenu-border-color);
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        color: var(--docs-contextmenu-link-color);
        display: block;
        font-weight: normal;
        margin: 0;
        padding: 0.5rem;
        position: absolute;
        right: 0;
        visibility: hidden;
        z-index: 1;
    }

    &__item {
        display: block;
        list-style-type: none;
        white-space: nowrap;

        &.highlight {
            background-color: var(--docs-contextmenu-highlight-color);
            font-weight: bold;
        }
    }

    &__anchor {
        cursor: pointer;
        display: block;
        padding: 0.75rem;

        &,
        &:visited,
        &:active {
            color: var(--docs-contextmenu-link-color-default);
        }

        &:hover {
            color: var(--docs-contextmenu-link-color-default);
            background-color: var(--docs-contextmenu-link-background-hover);
        }
    }
}
