@use "modal";

#version button {
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0;
    color: var(--f-text-color-discrete);
    text-decoration-color: var(--f-text-color-discrete);

    &:hover {
        background-color: #f4f4f4;
    }
}

#version-dialog {
    width: 30rem;
    max-height: 80vh;
    background: var(--docs-version-background-color);
    border: 1px solid var(--docs-version-border-color);
    color: var(--docs-text-color-default);
}

.docs-selectable-version {
    &__list {
        margin: 0 0 1.5rem;
        padding-left: 0;
    }

    &__item {
        display: flex;
        border: 2px solid #8d8e91;
        background: #fff;

        &:not(:last-child) {
            border-bottom: none;
        }

        &:focus-within,
        &:hover {
            background: #e5e5f5;
            cursor: pointer;
        }
    }

    &__link {
        width: 100%;
        padding: 0.2rem;
        text-decoration: none;
        color: var(--docs-text-color-default);

        &:focus-visible {
            box-shadow:
                0 0 0 2px #ffffff,
                0 0 0 4px #1b1e23,
                0 0 0 6px #ffffff;
            outline: 3px solid transparent;
        }
    }
}
