#version button {
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0;
    color: var(--f-text-color-discrete);
    text-decoration-color: var(--f-text-color-discrete);
}

#version-dialog {
    --docs-text-color-default: var(--docs-version-text-color);

    width: 30rem;
    max-height: 80vh;
    background: var(--docs-version-background-color);
    border: 1px solid var(--docs-version-border-color);
    color: var(--docs-text-color-default);

    a {
        text-decoration: none;
    }
}

#version-dialog-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#version-dialog .list__item__itempane {
    padding: 0.2rem;
}

#version button:hover {
    background-color: #f4f4f4;
}
