@keyframes skeleton {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

@mixin skeleton-element {
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    background: #ccc;
    display: inline-block;
    filter: blur(1px);
    user-select: none;
    color: transparent;
    overflow: hidden;
    width: 100%;
    height: 3rem;
    cursor: wait;

    &::after {
        content: " ";
        display: block;
        inset: 0;
        position: absolute;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, hsla(0deg 0% 100% / 30%), transparent);
        pointer-events: none;

        @media not (prefers-reduced-motion: reduce) {
            animation: skeleton 2s infinite;
        }
    }
}
