@use "breakpoints" as *;

h1:not(.code-preview h1),
h2:not(.code-preview h2),
h3:not(.code-preview h3),
h4:not(.code-preview h4),
h5:not(.code-preview h5),
h6:not(.code-preview h6) {
    font-family: var(--docs-heading-font-family);
    line-height: var(--docs-heading-line-height);
    margin-top: 0;
    text-wrap: balance;
    text-wrap: pretty;
}

h1:not(.code-preview h1) {
    font-weight: var(--docs-heading-font-weight-h1);
    margin-bottom: var(--docs-heading-margin-bottom-h1);
}

h2:not(.code-preview h2) {
    font-weight: var(--docs-heading-font-weight-h2);
    margin-bottom: var(--docs-heading-margin-bottom-h2);
}

h3:not(.code-preview h3) {
    font-weight: var(--docs-heading-font-weight-h3);
    margin-bottom: var(--docs-heading-margin-bottom-h3);
}

h4:not(.code-preview h4) {
    font-weight: var(--docs-heading-font-weight-h4);
    margin-bottom: var(--docs-heading-margin-bottom-h4);
}

h5:not(.code-preview h5) {
    font-weight: var(--docs-heading-font-weight-h5);
    margin-bottom: var(--docs-heading-margin-bottom-h5);
}

h6:not(.code-preview h6) {
    font-weight: var(--docs-heading-font-weight-h6);
    margin-bottom: var(--docs-heading-margin-bottom-h6);
}

h1 {
    font-size: 2.5rem;
    color: inherit;
    letter-spacing: var(--docs-heading-letter-spacing-h1);
}

h2 {
    font-size: 1.75rem;
    color: inherit;
    letter-spacing: var(--docs-heading-letter-spacing-h2);
}

h3 {
    font-size: 1.375rem;
    color: inherit;
    letter-spacing: var(--docs-heading-letter-spacing-h3);
}

h4 {
    font-size: 1.25rem;
    color: inherit;
    letter-spacing: var(--docs-heading-letter-spacing-h4);
}

h5 {
    font-size: 1.125rem;
    color: inherit;
}

h6 {
    font-size: 1rem;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    > a {
        text-decoration: none;
    }
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    margin-top: 2rem;
}

@media (width <=$breakpoint-sm) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 1rem;
    }
}

@for $i from 1 through 5 {
    h#{$i} + h#{$i + 1} {
        margin-top: 1rem;
    }
}

.docs-paragraph {
    font-size: var(--docs-font-size);
    font-weight: var(--docs-font-weight);
    line-height: var(--docs-line-height);
    margin-bottom: 1rem;
}

b,
strong {
    font-weight: 700;
}

code {
    font-size: var(--docs-font-size);
    border-radius: 2px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    background-color: var(--docs-code-background-color);
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
}

pre {
    code {
        display: block;
    }
}
