.version {
    color: var(--docs-text-color-discrete);
    text-wrap: nowrap;
    margin-left: 1rem;

    a {
        color: var(--docs-link-color-discrete);

        &:hover,
        &:focus,
        &:active {
            color: var(--docs-text-color-default);
        }
    }
}
