@use "api";
@use "badges";
@use "breakpoints" as bp;
@use "typography";
@use "layout";
@use "messagebox";
@use "navigation";
@use "outline";
@use "skeleton";
@use "tags";
@use "version_banner";
@use "highlight.js/styles/default";

dd > dl {
    border-left: 2px solid var(--docs-text-color-discrete);
    padding-left: 1rem;
}

p:not(.code-preview p) {
    max-width: 680px;
}

.header-anchor:hover {
    text-decoration: underline;
}

.header-anchor::before {
    content: "#";
    display: inline-block;
    font-size: 0.75em;
    margin-left: -1em;
    visibility: hidden;
    width: 1em;
    color: #9e9e9ea6;
    text-decoration: none;
}

.header-anchor:hover::before {
    visibility: visible;
}

#content a:where(:not(.code-preview a)) {
    color: var(--docs-text-color-default);
}

#content a:where(:not(.code-preview a, .header-anchor)),
footer a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--docs-text-color-link);
    text-decoration-color: var(--docs-text-color-link);
    text-underline-offset: 0.15rem;

    &:hover {
        color: var(--docs-text-color-default);
        text-decoration-color: var(--docs-text-color-default);
    }
}

.layout-wrapper {
    font-family: var(--docs-font-family);
    background: var(--docs-background-color);
}

main #aside dl {
    margin-bottom: 2rem;
}

main #aside dt {
    font-weight: 400;
    color: var(--docs-text-color-discrete);
}

main #aside dd {
    margin: 0 0 1.5rem;
}

.user-background {
    @media (prefers-color-scheme: light) {
        background: repeating-conic-gradient(#fff 0 90deg, rgb(235 235 235) 0 180deg) 0 0/20px 20px round;
    }

    @media (prefers-color-scheme: dark) {
        background: repeating-conic-gradient(#1b1e23 0 90deg, #313438 0 180deg) 0 0/20px 20px round;
    }
}

.code-preview {
    main,
    header,
    footer {
        all: revert;
    }
}

.code-preview--default {
    border: 1px solid var(--docs-code-border-color);
    border-radius: 4px;
    width: 100%;
    background-color: var(--docs-code-background-color);
    margin-bottom: 1rem;
}

.code-preview--default .code-preview__preview {
    border-bottom: 1px solid var(--docs-code-border-color);
    padding: 1.5rem;
    overflow: auto;
}

.code-preview--borderless {
    width: 100%;
    background-color: var(--docs-code-background-color);
    margin-bottom: 1rem;
}

.code-preview__preview {
    flex: 1 1 auto;
}

.code-preview__markup {
    margin: 0;
    overflow-x: auto;
}

/* Increased specificity to override button styling */
.code-preview .code-preview__button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--docs-text-color-default);

    &:focus-visible {
        border-radius: 0;
        box-shadow:
            0 0 0 2px #ffffff,
            0 0 0 4px #1b1e23,
            0 0 0 6px #ffffff;
        outline: 3px solid transparent;
    }

    .docs-icon {
        margin-right: 0.25rem;
    }
}

.code-preview code {
    margin: 0;
}

pre.mermaid:not([data-processed]) {
    @include skeleton.skeleton-element;
}

/*
    Technical debt: This is a temporary solution since docs-live-example is
    currently depending on this class for the code icon.
    docs-live-example should carry its own icon instead of relying on this class.
*/
.icon--code {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+PHBhdGggZD0iTTkuNCAxNi42TDQuOCAxMmw0LjYtNC42TDggNmwtNiA2IDYgNiAxLjQtMS40em01LjIgMGw0LjYtNC42LTQuNi00LjZMMTYgNmw2IDYtNiA2LTEuNC0xLjR6Ii8+PC9zdmc+")
        no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}

.toolbar {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
    }
}

.docs-deprecated {
    color: var(--docs-error-color);
}
