@use "cookie-warning";
@use "css-variables";
@use "reset";
@use "breakpoints" as *;
@use "version";

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: var(--docs-font-family);
    font-weight: var(--docs-font-weight);
    font-size: var(--f-font-size-default-rem);
    min-width: 400px;

    @media (width >= $breakpoint-md) {
        font-size: var(--f-font-size-default-large-up-rem);
    }
}

body {
    color: var(--f-text-color-default);
    font-size: var(--f-font-size-standard);
    font-weight: var(--docs-font-weight);
    line-height: var(--f-line-height-large);
}

.page-header {
    --docs-text-color-default: var(--docs-header-text-color-default);
    --docs-text-color-discrete: var(--docs-header-text-color-discrete);
}
