@use "css-variables";
@use "reset";

@use "fonts";
@use "cookie-warning";
@use "motd";
@use "breakpoints" as *;
@use "version";

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: 400px;
}

body {
    color: var(--docs-text-color-default);
    font-family: var(--docs-font-family);
    font-feature-settings:
        "liga" 1,
        "calt" 1;
    font-size: var(--docs-font-size);
    font-weight: var(--docs-font-weight);
    line-height: var(--docs-line-height);
}

.page-header {
    --docs-text-color-default: var(--docs-header-text-color-default);
    --docs-text-color-discrete: var(--docs-header-text-color-discrete);
}

.page-header__app-name {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); // stylelint-disable-line property-no-deprecated -- technical debt
    border: 0;
}
