<!doctype html>
<html lang="{{ site.lang }}" class="layout--{{ doc.template }}" data-root-url="{{ rootUrl(doc) }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ doc.attributes.title }} - {{ site.name }}</title>

        <!-- prettier-ignore -->
        {% container "head:early" %}

        <!-- prettier-ignore -->
        {%- for asset in injectHead | take("type", "css") %}
        <link
            rel="stylesheet"
            href="{{ asset.publicPath | relative(doc) }}"
            crossorigin
            integrity="{{ asset.integrity }}"
            {{
            asset.attrs
            }}
        />
        {%- endfor %}

        <!-- prettier-ignore -->
        {%- for asset in injectHead | take("type", "js") %}
        <script
            src="{{ asset.publicPath | relative(doc) }}"
            crossorigin
            integrity="{{ asset.integrity }}"
            {{
            asset.attrs
            }}
        ></script>
        {%- endfor %}

        <!-- prettier-ignore -->
        {% container "head" %}

        <link
            rel="preload"
            href="{{ searchDataUrl | relative(doc) }}"
            as="fetch"
            crossorigin
            integrity="{{ searchDataIntegrity }}"
            id="search-data"
        />
    </head>
    <body>
        <!-- prettier-ignore -->
        {% container "body:begin" %}

        <div class="layout-wrapper">
            <header>
                <!-- prettier-ignore -->
                {%- include "partials/header.html" -%}
            </header>

            <div id="primary">
                <!-- prettier-ignore -->
                {%- block sidenav %}
                {%- endblock %}

                <!-- prettier-ignore -->
                {%- for asset in vendors %}
                <script
                    src="{{ asset.publicPath | relative(doc) }}"
                    crossorigin
                    integrity="{{ asset.integrity }}"
                ></script>
                {%- endfor %}

                <!-- prettier-ignore -->
                {%- for asset in injectBody | take("type", "css") %}
                <link
                    rel="stylesheet"
                    href="{{ asset.publicPath | relative(doc) }}"
                    crossorigin
                    integrity="{{ asset.integrity }}"
                    {{
                    asset.attrs
                    }}
                />
                {%- endfor -%}

                <main>
                    <!-- [html-validate-disable-next heading-level, no-unused-disable -- allowed sectioning root] -->
                    <h1 id="title">{{ doc.attributes.title }}</h1>

                    {% if showAside %}
                    <div id="aside">
                        <!-- prettier-ignore -->
                        {%- block aside %}
                        {%- endblock %}

                        {% if doc.outline | length %}
                        <details id="outline">
                            <summary class="outline__heading">Innehåll</summary>
                            <ul>
                                {% for heading in doc.outline %}
                                <li><a href="#{{ heading.anchor }}">{{ heading.title | escape }}</a></li>
                                {% endfor %}
                            </ul>
                        </details>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div id="content">
                        <!-- prettier-ignore -->
                        {%- block content %}
                        {%- endblock %}
                    </div>
                </main>
            </div>

            <footer>
                <!-- prettier-ignore -->
                {%- include "partials/footer.html" -%}
            </footer>
        </div>

        <!-- prettier-ignore -->
        {%- include "partials/spritesheet.html" -%}

        <!-- prettier-ignore -->
        {% container "body:end" %}

        <!-- prettier-ignore -->
        {%- for asset in injectBody | take("type", "js") %}
        <script
            src="{{ asset.publicPath | relative(doc) }}"
            crossorigin
            integrity="{{ asset.integrity }}"
            {{
            asset.attrs
            }}
        ></script>
        {%- endfor %}
    </body>

    <!--

         Source file: {{ doc.fileInfo.fullPath }}
         Document ID: {{ doc.id }}
         Document name: {{ doc.name }}
         Document alias: {% for alias in doc.alias %}{{ alias }}{% if not loop.last %}, {% endif %}{% endfor %}

    -->
</html>
