{% set showAside = true %}
{% extends "content-with-menu.template.html" %}

{% block aside %}
<dl>
    {% if doc.attributes.component %}
    <dt>Komponent</dt>
    <dd>
        <div class="docs-badge-list">
            {% for component in doc.attributes.component %}
            {% if componentSourceUrl and componentSourceUrl(component) %}
            <a class="docs-badge docs-badge--component docs-badge-link" href="{{ componentSourceUrl(component) }}">
                {{ component.name }}
            </a>
            {% else %}
            <div class="docs-badge docs-badge--component">
                {{ component.name }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </dd>
    {% endif %}

    {% if doc.attributes.status %}
    <dt>Status</dt>
    <dd>
        <div class="badge badge--{{ doc.attributes.badge }}">{{ doc.attributes.status }}</div>
    </dd>
    {% endif %}
</dl>
{% endblock %}

{% block content %}
{{ doc.body | marked }}
{% endblock %}
