{% set showAside = true %} {% extends "content-with-menu.template.html" %}

<!-- prettier-ignore -->
{% block aside %}
<dl>
    <!-- prettier-ignore -->
    {% if doc.attributes.component %}
    <dt>Komponent</dt>
    <dd>
        {% for component in doc.attributes.component %}
        <code>
            {% if componentSourceUrl and componentSourceUrl(component) %}
            <a href="{{ componentSourceUrl(component) }}">{{ component.name }}</a>
            {% else %} {{ component.name }} {% endif %}
        </code>
        {% if not loop.last %}, {% endif %} {% endfor %}
    </dd>
    {% endif %}

    <!-- prettier-ignore -->
    {% if doc.attributes.status %}
    <dt>Status</dt>
    <dd>
        <div class="badge badge--{{ doc.attributes.badge }}">{{ doc.attributes.status }}</div>
    </dd>
    {% endif %}
</dl>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
{{ doc.body | marked }}
{% endblock %}
